<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
    <body class="bg-dark">
      <%- include('./partials/navigation') %>
      <div class="row pt-5">
        <div class="col-6">
            <span class="d-flex justify-content-end"><img src= "../assets/<%= imgName %>.png" alt="Location" width="300px"></span>
        </div>
        <div class="col-4 pt-5">
          <h2 class='d-flex text-light display-4 pt-3'><%= date %></h2>
          <h2 class='d-flex text-light display-4 pt-6'><%= time %></h2>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
          <div class="col-6 d-flex justify-content-end pb-1">
              <a href="/personnew" type="button" class="btn btn-outline-warning"><b>ADD NEW</b></a>
          </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-6">
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th scope="col">Person Name</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Nationality</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% var num = 1; %>
              <% if (persons.length > 0) { %>
  
                <% persons.forEach(person => { %> 
                  <tr>
                    <td> <%=num%> </td>
                    <td> <%=person["name"]%> </td>
                    <td> <%=person["birthdate"]%> </td>
                    <td> <%=person["nationality"]%> </td>
                    <td> <a href="/personview/<%= person._id %>" type="button" class="btn btn-warning">View</a> </td>
                  </tr>
                  <% num++; %>
                <% }) %> 
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <%- include('./partials/footer') %>
        
    </body> 
</html>